# Exclure les fichiers temporaires ou spécifiques à l'environnement local
__pycache__/
*.pyc
*.pyo
*.log

# Exclure certains répertoires spécifiques
datas/
docs/
archive_doc/
.vscode/

# Exclure les données sensibles ou volumineuses
# *.csv
#*.json

# Exclure les fichiers de configuration spécifiques à Streamlit
.streamlit/

# Exclure les dépendances (si nécessaires)
venv/
.env